name: TEMPLATESCI

on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: '3.11'

      - name: Run assets and pytest tests
        run: |
          docker pull blsq/openhexa-blsq-environment:latest
          ./scripts/tests.sh